/* Set Your Own Margin & Padding */


h2, h3 {
	margin: 15px 0 0 0 ;
}


/* Layout for Style Tile*/
section {
	margin: 20px 0;
}
.container {
  
  margin: 0 auto;
  width: 100%;
  max-width: 1000px;
}


.color-1, 
.color-2,
.color-3,
.pattern-1,
.pattern-2,
.pattern-3 {
	
	border: 1px solid #000;
	float: left;
	margin: 0 10px;
	height: 50px;
	width: 50px;
}
.color-1 {
	background: rgb(159,249,213);
}
.color-2 {
	background: rgb(35,130,147);
}
.color-3 {
	background: rgb(107,184,198);
}



header {
	text-align: center;
	margin: 10px 0 40px 0;
}

body div aside {
	
	float: left;
  	padding: 2.0833333%; 
  	width: 60%
}
.palette {
  float: left;
  padding: 2.0833333%; 
  width: 25%; 
}

img {
	width: 200px;
	height: 300px;
	border: 2px white solid;
	margin: 0 40px 40px 0;
	box-shadow: 5px 5px 17px 1px #a2a2a2;

}
ul {
	text-align: center;

}
li {
	text-align: center;
	list-style: none;
	display: inline;
}


/* Show Grid 
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}
*/